# Variaveis publicas do frontend local. Nao inserir credenciais reais neste arquivo.

VITE_MapboxToken=
VITE_DropboxClientId=
VITE_MapboxExportToken=
VITE_CartoClientId=
VITE_FoursquareClientId=
VITE_FoursquareDomain=
VITE_FoursquareAPIURL=
VITE_FoursquareUserMapsURL=
